{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Tous les films</h1>
    <div class="container">
        <div class="d-flex flex-row flex-wrap justify-content-center">

        {% for film in films %}

            <div class="col-4">
                <a href="{{path('film_page', {'id': film.id})}}"><h3>{{ film.titre }}</h3>
                    <img src="{{ film.image }}" width="100%" alt=""></a>
                <div class="py-2">
                    <span>Réalisateur :{{ film.realisateur}} / {{film.duree}} / {{ film.annee }}</span>
                    <hr>
                    <p>{{film.synopsis}}</p>

                </div>
            </div>


        {% endfor %}

        </div>
    </div>
{% endblock %}