{% extends 'base.html.twig' %}

{% block body %}
<a href="{{path('edit_profil', {'id': user.id})}}"><button class="btn btn-outline-primary">Modifier mes infos</button></a>
<a href="{{path('edit_password', {'id': user.id})}}"><button class="btn btn-outline-primary">Modifier mon mot de passe</button></a>
{% endblock %}