{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">
    <div class="container">
        {{ form_start(form) }}
        {{ form_row(form.contenu) }}
        {{ form_row(form.note, {'attr': {'class': 'd-flex justify-content-between'}})}}
        <button type="submit" class="btn btn-success">Enregistrer</button>
        {{ form_end(form) }}
    </div>
{% endblock %}