{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <h1 class="text-center">{{ film.titre }}</h1>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="{{ film.image }}" style="max-width: 300px;">
            </div>
            <div class="col-md-6">
                <p>Un film de {{ film.realisateur }} / sortie : {{ film.annee }} / durée : {{ film.duree }}</p>
                <p> avec : {{ film.acteurs }}
                <h4>Synopsis:</h4>
                <p>{{ film.synopsis }}</p>
            </div>
        </div>
        {% if app.user %}
            <a href="{{path('new_avis', {'id': film.id})}}"><button class="btn btn-success">Laisser un avis</button></a>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{path('edit_film', {'id': film.id})}}"><button class="btn btn-warning">Modifier le film</button></a>
            <a href="{{path('delete_film', {'id': film.id})}}"><button class="btn btn-danger">Supprimer le film</button></a>
        {% endif %}
        <hr>
        <div class="d-flex flex-row">
            {% for avis in avis %}
                <div class="p-2 bd-highlight">
                    <h4>{{ avis.note }}/5</h4>
                    <p>posté par {{ avis.auteur.username }}</p>
                    <p>{{avis.contenu}}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}