{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Authentification</h1>
        <form action="{{ path('login') }}" method="post">
            <div class="form-group">
                <input placeholder="Nom d'utilisateur" required name="_username" type="text" class="form-control">
            </div>
            <div class="form-group">
                <input placeholder="Mot de passe" required name="_password" type="password" class="form-control">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Connexion</button>
            </div>
        </form>
        <a href="{{path('forgot')}}"> identifiants oubliés </a>
    </div>
{% endblock %}