{% block body %}

<p>Bonjour  {{ user.prenom }} ! Voici votre identifiant : {{user.username}}</br>
Pour réinitialiser votre mot de passe <a href="{{path('redo_password', {'id': user.id})}}">cliquez ici</a>
</p>
{% endblock %}