{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <h1 class="text-center">Ajouter un Film</h1>
    {{form_start(form)}}
    {{form_widget(form)}}
    <button type="submit" class="btn btn-success">Enregistrer</button>
    {{form_end(form)}}
{% endblock %}
