{% extends 'base.html.twig' %}
{% block body %}
    <a href="{{ path('inscription') }}"><button class="btn btn-success">Ajouter un utilisateur</button>
    <div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Age</th>
            <th scope="col">administrateur</th>
            <th scope="col">actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                {% if "ROLE_ADMIN" in user.roles %}
                <tr class="table-success">
                {% else %}
                <tr class="table-active">
                {% endif %}
                    <th scope="row"> {{ user.nom }}</th>
                    <td>{{ user.prenom }}</td>
                    <td>{{ user.age }}</td>
                    <td>
                        {% if "ROLE_ADMIN" in user.roles %}
                            ADMIN
                        {% else %}
                            USER
                        {% endif %}
                    </td>
                    <td>
                        {% if "ROLE_ADMIN" in user.roles %}
                            <a href="{{path('change_role', {'id': user.id})}}"><button class="btn btn-danger">Passer USER</button></a>
                        {% else %}
                            <a href="{{path('change_role', {'id': user.id})}}"><button class="btn btn-danger">Passer ADMIN</button></a>
                        {% endif %}
                        <a href="{{path('edit_profil', {'id': user.id})}}"><button class="btn btn-info">Modifier Profil</button></a>
                        <a href="{{path('user_delete', {'id': user.id})}}"><button class="btn btn-info">Supprimer Profil</button></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table> 
    </div>
{% endblock %}