<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href ="https://bootswatch.com/4/cyborg/bootstrap.min.css" rel="stylesheet"
        crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{path('index')}}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('all_film')}}">Films</a>
                </li>
                {% if app.user and is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{path('gestion_user')}}">Gestion des utilisateurs</a>
                </li>
                {% endif %}
                {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{path('dashboard', {id: app.user.id})}}">Darshboard</a>
                </li>
                {% endif %}
                </ul>
                {% if app.user %}
                    <a href="{{path('logout')}}"><button class="btn btn-outline-primary">se déconnecter</button></a>
                {% else %}
                    <a class="nav-link" href="{{path('login')}}">Authentification</a>
                    <a href="{{path('inscription')}}"><button class="btn btn-outline-primary">Inscription</button></a>
                {% endif %}
            </div>
        </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
